doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    
    
  body(id='page-top', data-spy=('scroll'), data-target=('.navbar-fixed-top'))
    block content